replicaCount: 1

image:
  repository: openzipkin/zipkin
  pullPolicy: IfNotPresent
  tag: "3.4.3"

service:
  type: ClusterIP
  port: 9411

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

environment:
  STORAGE_TYPE: mem
  JAVA_OPTS: "-Xms256m -Xmx512m"
