spring:
  application:
    name: auth-server

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL:http://bank-zipkin.zipkin.svc.cluster.local:9411/api/v2/spans}
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

server:
  port: 9000