apiVersion: gateway.networking.k8s.io/v1beta1
kind: Gateway
metadata:
  name: bank-gateway
spec:
  gatewayClassName: nginx
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      hostname: bank.ru.yandex