apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.db.passwordSecretName }}
type: Opaque
stringData:
  username: {{ .Values.db.username | quote }}
  password: {{ (lookup "v1" "Secret" .Release.Namespace .Values.db.passwordSecretName).data.password | default (randAlphaNum 24 | b64enc) | b64dec | quote }}
