apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.db.passwordSecretName }}
type: Opaque
stringData:
  username: {{ .Values.db.username | quote }}
  password: {{ .Values.global.dbPassword | default "changeme" | quote }}
