apiVersion: v1
kind: Service
metadata:
  name: {{ include "postgres-accounts.fullname" . }}
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  clusterIP: None
  selector:
    app: {{ include "postgres-accounts.name" . }}
