prometheus:
  server:
    persistentVolume:
      enabled: false
  alertmanager:
    persistentVolume:
      enabled: false
  pushgateway:
    enabled: false
  serverFiles:
    alerting_rules.yml:
      groups:
        - name: bank-alerts
          rules:
            - alert: HighHttpErrorRate
              expr: sum(rate(http_server_requests_seconds_count{status=~"5.."}[5m])) / sum(rate(http_server_requests_seconds_count[5m])) > 0.05
              for: 1m
              labels:
                severity: critical
              annotations:
                summary: "High HTTP error rate on {{ $labels.kubernetes_pod_name }}"
            - alert: LoginFailureSpike
              expr: rate(login_failure_total[5m]) > 0.1
              for: 1m
              labels:
                severity: warning
              annotations:
                summary: "Spike in login failures"
            - alert: TransferFailureSpike
              expr: rate(transfer_failure_total[5m]) > 0.05
              for: 1m
              labels:
                severity: warning
              annotations:
                summary: "Spike in transfer failures"

  extraScrapeConfigs: |
    - job_name: 'spring-boot-applications'
      metrics_path: '/actuator/prometheus'
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
          action: keep
          regex: true
        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
          action: replace
          target_label: __metrics_path__
          regex: (.+)
        - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
          action: replace
          regex: ([^:]+)(?::\d+)?;(\d+)
          replacement: $1:$2
          target_label: __address__
        - action: labelmap
          regex: __meta_kubernetes_pod_label_(.+)
        - source_labels: [__meta_kubernetes_namespace]
          action: replace
          target_label: kubernetes_namespace
        - source_labels: [__meta_kubernetes_pod_name]
          action: replace
          target_label: kubernetes_pod_name
