spring:
  config:
    import: optional:configserver:http://config-server:8888
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: accounts-service
          uri: lb://accounts-service
          predicates:
            - Path=/api/accounts/**
        - id: cash-service
          uri: lb://cash-service
          predicates:
            - Path=/api/cash/**
        - id: transfer-service
          uri: lb://transfer-service
          predicates:
            - Path=/api/transfers/**
      server:
        webflux:
          discovery:
            locator:
              enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0
  observations:
    key-values:
      env: ${APP_ENV:unknown}
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL:http://bank-zipkin.zipkin.svc.cluster.local:9411/api/v2/spans}
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

server:
  port: 8085

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/