spring:
  config:
    import: optional:configserver:http://config-server:8888
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: accounts-service
          uri: lb://accounts-service
          predicates:
            - Path=/api/accounts/**
        - id: cash-service
          uri: lb://cash-service
          predicates:
            - Path=/api/cash/**
        - id: transfer-service
          uri: lb://transfer-service
          predicates:
            - Path=/api/transfers/**
        - id: notifications-service
          uri: lb://notifications-service
          predicates:
            - Path=/api/notifications/**
      server:
        webflux:
          discovery:
            locator:
              enabled: true

server:
  port: 8085

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics