server:
  port: 8080

spring:
  application:
    name: front-ui
  thymeleaf:
    cache: false
  config:
    import: optional:configserver:http://config-server:8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/