elasticsearch:
  persistence:
    enabled: false
  replicas: 1
  minimumMasterNodes: 1

kibana:
  elasticsearchHosts: "http://elasticsearch-master:9200"

logstash:
  persistence:
    enabled: false
  logstashConfig:
    logstash.yml: |
      http.host: "0.0.0.0"
      xpack.monitoring.enabled: false
  logstashPipeline:
    logstash.conf: |
      input {
        kafka {
          bootstrap_servers => "bank-kafka.kafka.svc.cluster.local:9092"
          topics => ["logs"]
          codec => json
        }
      }
      filter {
        if [password] {
          mutate { replace => { "password" => "[MASKED]" } }
        }
        if [confirm_password] {
          mutate { replace => { "confirm_password" => "[MASKED]" } }
        }
        if [confirmPassword] {
          mutate { replace => { "confirmPassword" => "[MASKED]" } }
        }
      }
      output {
        elasticsearch {
          hosts => ["http://elasticsearch-master:9200"]
          index => "bank-logs-%{+YYYY.MM.dd}"
        }
      }
