image:
  repository: "postgres"
  tag: "16"
  pullPolicy: IfNotPresent

storage:
  size: 1Gi

auth:
  username: "accounts_user"
  database: "accounts"
  existingSecretName: "accounts-db-secret"


resources: {}