global:
  imageRegistry: "registry.ru.yandex/bank"
  imagePullPolicy: IfNotPresent
  envName: "dev"

  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

accounts-service:
  enabled: true

  replicaCount: 1

  image:
    tag: "latest"

  service:
    type: ClusterIP
    port: 8080

  env:
    springProfile: "k8s"

  db:
    host: "postgres-accounts"
    port: 5432
    database: "accounts"

    username: "accounts_user"
    passwordSecretName: "accounts-db-secret"
    passwordSecretKey: "password"

cash-service:
  enabled: true

  replicaCount: 1

  image:
    tag: "latest"

  service:
    type: ClusterIP
    port: 8080

  env:
    springProfile: "k8s"

transfer-service:
  enabled: true

  replicaCount: 1

  image:
    tag: "latest"

  service:
    type: ClusterIP
    port: 8080

  env:
    springProfile: "k8s"


notifications-service:
  enabled: true

  replicaCount: 1

  image:
    tag: "latest"

  service:
    type: ClusterIP
    port: 8080

  env:
    springProfile: "k8s"


front-ui:
  enabled: true

  replicaCount: 1

  image:
    tag: "latest"

  service:
    type: ClusterIP
    port: 8080

  env:
    springProfile: "k8s"

auth-server:
  enabled: true

  replicaCount: 1

  image:
    tag: "latest"

  service:
    type: ClusterIP
    port: 8080

  env:
    springProfile: "k8s"


postgres-accounts:
  enabled: true

  image:
    repository: "postgres"
    tag: "16"
    pullPolicy: IfNotPresent

  storage:
    size: 1Gi

  auth:
    username: "accounts_user"
    password: "changeme"
    database: "accounts"
