spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo

server:
  port: 8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
